body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    text-align: center;
    background-color: #0056b3; /* Example color */
    padding: 50px 0; /* Vertical padding */
    margin-bottom: 20px;
    color: white;
}

.navbar h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* CONTAINER WITH BUTTONS, FORMS, AND TABLE */
.container {
    text-align: center; /* Center-align the contents within the container */
    max-width: 800px; /* Adjust the max-width as needed */
    margin: 0 auto;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Added margin for spacing */
    margin-bottom: 50px; /* Added margin for spacing */
    cursor: pointer;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
}
th {
    background-color: #006ee3; /* Changed color for header */
    color: white; /* White text for header */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Zebra striping for rows */
}

tr:hover {
    background-color: #ddd; /* Hover effect for rows */
}


/* FORM */
form {
    text-align: left;
    margin-top: 20px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    background-color: #006ee3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; /* Added margin for spacing */
    transition: background-color 0.3s ease;
}

.delete-button {
    background-color: #d60202;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; /* Added margin for spacing */
    float: right;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #a80101; /* Slightly darker shade on hover */
}

.button:hover {
    background-color: #004a9f;
}


