body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    text-align: center;
    background-color: #004a9f;
    padding: 50px 0;
    margin-bottom: 20px;
    color: white;
}

.navbar h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

/* CONTAINER WITH BUTTONS, FORMS, SEARCHBAR, AND TABLE */
.container {
    text-align: center;
    max-width: 800px;
    margin: auto;
}

.search-bar {
    padding-top: 20px;
    width: 100%;
    max-width: 608px !important;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

.id-column {
    width: 10%;
}

.name-column {
    width: 30%;
}

.address-column {
    width: 40%;
}

.rooms-column {
    width: 20%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /
}
th {
    background-color: #006ee3;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}


/* FORM */
form {
    text-align: left;
    margin-top: 20px;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    max-width: 778px;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    background-color: #006ee3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.delete-button {
    background-color: #d60202;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    float: right;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #a80101;
}

.button:hover {
    background-color: #004a9f;
}





